@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.img{
   position: relative;
    /* flex: content; */
    max-width: 300px;
    max-height: 300px;
    /* width: 50px; */
}
body{
    background-color: rgba(25, 84, 99, 0.836);
    background-position: center;


}
h3{
    font-style: oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-optical-sizing:inherit;
}

/* .reset:hover{
    font-size: large;
    background-color: rgb(135, 150, 189);
    max-width: max-content;
} */

.reset{
  position: relative;
  top: -1rem;
  background-color: rgb(107, 107, 169);
  right: -19rem;
  font-size: xx-large;
}
#score{
    font-family:fantasy;
    background-color: rgb(47, 208, 120);
    max-width: max-content;
    min-width:20%;
    flex-flow: column;
    
}
.hidden{
    opacity: 0;
}
.version{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#imguser{
    position: relative;
    left: 36rem;
    top: -1rem;
    align-items: center;
    flex-flow: row;
    flex-flow: column;

}
#imgbot{
   
    position: relative;
    left: 14rem;
    top:-26rem;
    max-width: max-content;
    
    
   
}
.btn{
    font-size: xx-large;
}
.btn-color:default{
    background-color: rgb(56, 97, 107);
}
.btn-color:hover{
    background-color: rgb(25, 135, 145);
}

#options{
    position: relative;
    top:-22rem;
    right:-17rem;
}
#head{
    font-family: 'Amatic SC', cursive;
    font-size:70px;
    position: relative;
   right:-15%;
   margin-top: 0;
}
.win{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    top:-22rem;
    right:-10rem;
}
#creatordiv{
   font-stretch: expanded;
}
div{
    font-size: x-large;
}


.big{
    font-size:xx-large;
    left: 12rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    top:-5px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* modal window */
  .modal {
    display: none; 
    
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(14, 83, 61); 
    background-color: rgba(198, 179, 179, 0.4);
    
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #469baa;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 22rem;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }